* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
